# Ignore node_modules directory
node_modules/

# Ignore environment-specific files
.env
.env.local
.env.*.local

mysql -h <hostname> -P <port> -u <username> -p <database_name> < <path_to_sql_file.sql>
